.dashboard .holder {
  background-color: #f1f1f1;
}
.dashboard .holder .holder-left {
  padding: 0 10px;
  flex-basis: 65%;
  border-right: 2px solid #c4c4c4;
  gap: 20px;
}
.dashboard .holder .holder-right {
  flex: 1;
  padding: 0 10px;
  gap: 20px;
}

@media (max-width: 991px) {
  .dashboard .holder {
    flex-direction: column;
    gap: 20px;
  }
  .dashboard .holder .holder-left {
    border-right: none;
  }
}
