@media (max-width: 991px) {
  .all-exercises .holder {
    flex-direction: column-reverse;
  } 
}
.all-exercises .holder-left {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
