/*Start Global Rules*/

/* Root Variables */
:root {
  --primary-color: #fe6e0e;
  --primary-alt-color: #cb5c12;
  --primary-radius: 6px;
  --primary-transition: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: var(--primary-radius);
  background-color: var(--primary-color);
  -webkit-border-radius: var(--primary-radius);
  -moz-border-radius: var(--primary-radius);
  -ms-border-radius: var(--primary-radius);
  -o-border-radius: var(--primary-radius);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

/* Assistive classes */
.c-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.btn-shape {
  padding: 8px 12px;
  border-radius: var(--primary-radius);
  -webkit-border-radius: var(--primary-radius);
  -moz-border-radius: var(--primary-radius);
  -ms-border-radius: var(--primary-radius);
  -o-border-radius: var(--primary-radius);
}
@media (max-width: 767px) {
  .btn-shape {
    padding: 8px;
  }
}

.btn-effect {
  background-color: var(--primary-color);
  transition: var(--primary-transition);
  -webkit-transition: var(--primary-transition);
  -moz-transition: var(--primary-transition);
  -ms-transition: var(--primary-transition);
  -o-transition: var(--primary-transition);
}
.btn-effect:hover {
  background-color: var(--primary-alt-color);
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.show-mobile {
  display: none;
}

@media (max-width: 767px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

/* Screens */

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*End Global Rules*/
